//colors
$white: #fff;
$color_tundora_approx: #444;
$color_mine_shaft_approx: #333;
$color_alto_approx: #ddd;
$color_log_cabin_approx: #222;
$black: #000;
$color_mountain_mist_50_approx: rgba(145, 145, 145, 0.5);
$color_white_lilac_approx: #f7f9fc;
$color_mako_approx: #404751;
$color_athens_gray_approx: #ebebf4;
$silver_chalice: #acacac;
$color_santas_gray_approx: #9aa1ab;
$wild_sand: #f4f4f4;
$color_pale_slate_approx: #c8bfc6;
$color_chicago_approx: #5e5e5e;
$white_80: rgba(255, 255, 255, 0.8);
$color_celeste_approx: #ccc;
$color_black_haze_approx: #f5f7f7;
$color_mercury_approx: #e3e4e8;
$color_hunter_green_approx: #171717;

//fonts
$font_0: star;

@font-face {
	font-family: $font_0;
	src: url("fonts/star.eot");
	src: url("fonts/star.eot?#iefix") format("embedded-opentype"), url("fonts/star.woff") format("woff"), url("fonts/star.ttf") format("truetype"), url("fonts/star.svg#star") format("svg");
	font-weight: normal;
	font-style: normal;
}
.shop {
	margin-top: -10px;
	ul {
		&.products {
			margin: 0;
			padding: 25px 0;
			list-style: none;
			&:after {
				content: ".";
				display: block;
				clear: both;
				visibility: hidden;
				line-height: 0;
				height: 0;
			}
			.product {
				position: relative;
				margin-bottom: 30px;
				a {
					text-decoration: none;
				}
				.add-to-cart-product {
					//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
					transition: all 0.2s;
					position: absolute;
					top: 0;
					left: 0;
					//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
					border-radius: 6px 6px 0 0;
					padding: 8px 10px 5px;
					font-size: 0.9em;
					color: #FFF;
					background: $color_log_cabin_approx;
					z-index: 1;
					filter: alpha(opacity=0);
					opacity: 0;
					.fa {
						margin-right: 3px;
						font-size: 1.1em;
					}
				}
				.price {
					display: block;
					min-height: 28px;
					del {
						color: $color_mountain_mist_50_approx;
						font-size: 0.7em;
						margin: -2px 0 0;
					}
					ins {
						text-decoration: none;
					}
					.amount {
						font-size: 1.3em;
					}
				}
				.onsale {
					position: absolute;
					background-image: none;
					//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
					border-radius: 100%;
					left: auto;
					right: 0;
					top: -15px;
					//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
					text-shadow: none;
					width: 40px;
					height: 40px;
					line-height: 40px;
					display: inline-block;
					text-align: center;
					z-index: 10;
					//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
					box-shadow: none;
					font-size: 0.9em;
					color: #FFF;
					border-bottom: 2px solid transparent;
				}
				&:hover .add-to-cart-product {
					filter: alpha(opacity=100);
					opacity: 1;
					&:hover {
						background: $black;
					}
				}
			}
		}
		&.comments {
			.comment-arrow {
				border-right-color: #F5F7F7;
			}
			.comment-block {
				background: #F5F7F7;
			}
		}
		&.simple-post-list li {
			border: 0;
		}
	}
	.review_num {
		margin-right: 10px;
		float: left;
		position: relative;
		top: -1px;
	}
	.star-rating {
		float: none;
		top: 2px;
		font-family: $font_0;
		font-size: 1em;
		height: 1.2em;
		line-height: 1em;
		overflow: hidden;
		position: relative;
		width: 5.4em;
		margin-bottom: 25px;
		&:before {
			color: #E0DADF;
			content: "SSSSS";
			float: left;
			left: 0;
			position: absolute;
			top: 0;
		}
		span {
			float: left;
			left: 0;
			overflow: hidden;
			padding-top: 1.5em;
			position: absolute;
			top: 0;
			&:before {
				content: "SSSSS";
				left: 0;
				position: absolute;
				top: 0;
			}
		}
	}
	.quantity {
		margin: 0 15px 25px 0;
		overflow: hidden;
		position: relative;
		width: 125px;
		height: 35px;
		float: left;
		.minus {
			background: $wild_sand;
			border: 1px solid #C8BFC6;
			//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
			border-radius: 2px;
			//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
			color: #5E5E5E;
			cursor: pointer;
			display: block;
			font-size: 12px;
			font-weight: bold;
			height: 35px;
			line-height: 13px;
			margin: 0;
			overflow: visible;
			outline: 0;
			padding: 0;
			position: absolute;
			text-align: center;
			text-decoration: none;
			//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			text-shadow: 0 1px 0 $white_80;
			vertical-align: text-top;
			width: 35px;
		}
		.plus {
			background: $wild_sand;
			border: 1px solid #C8BFC6;
			//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
			border-radius: 2px;
			//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
			color: #5E5E5E;
			cursor: pointer;
			display: block;
			font-size: 12px;
			font-weight: bold;
			height: 35px;
			line-height: 13px;
			margin: 0;
			overflow: visible;
			outline: 0;
			padding: 0;
			position: absolute;
			text-align: center;
			text-decoration: none;
			//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			text-shadow: 0 1px 0 $white_80;
			vertical-align: text-top;
			width: 35px;
			right: 0;
			top: 0;
		}
		.qty {
			border: 1px solid #CCC;
			//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
			float: left;
			height: 35px;
			padding: 0 39px;
			text-align: center;
			width: 125px;
			font-size: 1em;
			&::-webkit-inner-spin-button {
				margin: 0;
			}
			&::-webkit-outer-spin-button {
				margin: 0;
			}
			&::-ms-clear {
				display: none;
			}
		}
	}
	.product_meta {
		clear: both;
	}
	.tabs-product {
		margin-top: 35px;
	}
	.actions-continue {
		float: right;
	}
	.cart-totals {
		width: 100%;
		th {
			border-top: 1px solid #DCDCDC;
			padding: 8px 10px;
		}
		td {
			border-top: 1px solid #DCDCDC;
			padding: 8px 10px;
		}
		tr.total .amount {
			font-size: 2em;
			display: block;
			padding-top: 10px;
		}
	}
	.summary .price {
		color: $color_tundora_approx;
		font-size: 2em;
		letter-spacing: -1px;
		line-height: 30px;
		margin-top: 20px;
	}
	table.cart {
		width: 100%;
		margin: 0;
		text-align: left;
		img {
			height: auto;
			width: 55px;
		}
		th {
			padding: 8px 10px;
		}
		td {
			border-top: 1px solid #DCDCDC;
			padding: 8px 10px;
			&.actions {
				padding: 20px 10px;
			}
		}
		.coupon {
			float: left;
		}
		.product-remove {
			width: 1%;
		}
		.product-thumbnail {
			width: 7%;
		}
		.product-name {
			width: 60%;
		}
		.quantity {
			top: 10px;
			position: relative;
		}
		.remove .fa {
			font-size: 1.5em;
		}
	}
}
.product-info {
	//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.2s;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 6px;
	border: 1px solid #DDD;
	background: #F7F9FC;
	display: block;
	overflow: hidden;
	position: relative;
	max-width: 100%;
	text-align: center;
	padding: 0;
	text-decoration: none;
	&:hover {
		background-color: #FFF;
		text-decoration: none;
		.product-info-image:before {
			filter: alpha(opacity=80);
			opacity: 0.8;
		}
		.product-info-act-left em {
			filter: alpha(opacity=100);
			opacity: 1;
		}
		.product-info-act-right em {
			filter: alpha(opacity=100);
			opacity: 1;
		}
	}
	a {
		text-decoration: none;
		display: inline-block;
		width: 100%;
		&:hover {
			text-decoration: none;
			display: inline-block;
			width: 100%;
		}
	}
	img {
		//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.2s;
		//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
		border-radius: 6px 6px 0 0;
	}
	h4 {
		color: $color_mako_approx;
		letter-spacing: -1px;
		font-weight: 600;
		font-size: 1.4em;
		line-height: 1.1em;
		margin: 0;
		padding: 0;
	}
	.product-info-image {
		display: block;
		position: relative;
		&:before {
			//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 0.2s;
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $color_mine_shaft_approx;
			width: 100%;
			height: 100%;
			filter: alpha(opacity=0);
			opacity: 0;
			//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
			border-radius: 6px 6px 0 0;
		}
	}
	.product-info-act {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		text-align: center;
		color: #FFF;
		em {
			font-style: normal;
			position: relative;
			font-size: 1.2em;
			font-weight: 100;
		}
	}
	.product-info-act-left {
		float: left;
		overflow: hidden;
		text-align: right;
		width: 45%;
		em {
			//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 0.2s ease 0s;
			left: 0;
			filter: alpha(opacity=0);
			opacity: 0;
		}
	}
	.product-info-act-right {
		float: left;
		overflow: hidden;
		text-align: left;
		margin-left: 2%;
		width: 53%;
		em {
			//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 0.2s ease 0s;
			right: 0;
			font-weight: 600;
			filter: alpha(opacity=0);
			opacity: 0;
		}
	}
	.product-info-content {
		padding: 15px;
		text-align: left;
		display: block;
	}
	.product-info-caption {
		padding: 0 15px 15px;
		text-align: left;
		display: block;
		p {
			margin: 0;
			padding: 0 0 10px;
		}
	}
	.product-info-extra {
		clear: both;
		padding: 10px 0 0;
		margin: 10px 0 0;
		border-top: 1px solid #EBEBF4;
		display: block;
		&.social {
			text-align: center;
			a {
				border-right: 1px solid #EBEBF4;
				display: inline-block;
				margin-right: 10px;
				padding-right: 10px;
				font-size: 0.9em;
				color: #ACACAC;
				width: auto;
				&:last-child {
					border-right: 0;
					margin-right: 0;
					padding-right: 0;
				}
			}
		}
	}
	.date {
		color: #9AA1AB;
		font-size: 0.9em;
	}
	&.secundary {
		.product-info-content {
			text-align: center;
			h4 {
				//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 0.2s;
				color: #FFF;
				position: relative;
				top: -25%;
				filter: alpha(opacity=0);
				opacity: 0;
			}
			.date {
				//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 0.2s;
				position: relative;
				top: 25%;
				display: block;
				filter: alpha(opacity=0);
				opacity: 0;
			}
		}
		.product-info-act {
			top: 30%;
		}
		.label {
			//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 0.2s;
			clear: both;
			display: inline-block;
			margin-top: 15px;
			filter: alpha(opacity=0);
			opacity: 0;
		}
		&:hover {
			.label {
				filter: alpha(opacity=100);
				opacity: 1;
			}
			.product-info-content {
				h4 {
					top: 0;
					filter: alpha(opacity=100);
					opacity: 1;
				}
				.date {
					top: 0;
					filter: alpha(opacity=100);
					opacity: 1;
				}
			}
		}
	}
	+ .product-info {
		//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
		border-radius: 0 0 6px 6px;
		margin-top: -5px;
	}
}
.product-thumb-info {
	//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.2s;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 6px;
	padding: 0;
	border: 0;
	border-bottom: 3px solid #E3E4E8;
	background: #F7F9FC;
	display: block;
	overflow: hidden;
	position: relative;
	max-width: 100%;
	text-align: center;
	border: 1px solid #DDD;
	text-decoration: none;
	&:hover {
		background-color: #FFF;
		text-decoration: none;
		.product-thumb-info-act {
			filter: alpha(opacity=100);
			opacity: 1;
			top: 50%;
		}
		.product-thumb-info-image:before {
			filter: alpha(opacity=80);
			opacity: 0.8;
		}
	}
	a {
		text-decoration: none;
		display: inline-block;
		width: 100%;
		&:hover {
			text-decoration: none;
			display: inline-block;
			width: 100%;
		}
	}
	img {
		//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.2s;
		//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
		border-radius: 6px 6px 0 0;
	}
	h4 {
		color: $color_mako_approx;
		letter-spacing: -1px;
		font-weight: 600;
		font-size: 1.4em;
		line-height: 1.1em;
		margin: 0;
		padding: 0;
	}
	.product-thumb-info-touch-hover {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		display: none;
		background-color: transparent;
	}
	.product-thumb-info-image {
		display: block;
		position: relative;
		&:before {
			//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 0.2s;
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $color_hunter_green_approx;
			width: 100%;
			height: 100%;
			filter: alpha(opacity=0);
			opacity: 0;
			//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
			border-radius: 6px 6px 0 0;
		}
	}
	.product-thumb-info-act {
		position: absolute;
		top: 40%;
		left: 0;
		right: 0;
		text-align: center;
		color: #FFF;
		filter: alpha(opacity=0);
		opacity: 0;
		em {
			font-style: normal;
		}
	}
	.product-thumb-info-content {
		padding: 15px;
		text-align: left;
		display: block;
	}
	.product-thumb-info-caption {
		padding: 0 15px 15px;
		text-align: left;
		display: block;
		p {
			margin: 0;
			padding: 0 0 10px;
		}
	}
	.product-thumb-info-extra {
		clear: both;
		padding: 10px 0 0;
		margin: 10px 0 0;
		border-top: 1px solid #EBEBF4;
		display: block;
		&.social a:last-child {
			border-right: 0;
			margin-right: 0;
			padding-right: 0;
		}
	}
	+ .product-thumb-info {
		//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
		border-radius: 0 0 6px 6px;
		margin-top: -5px;
	}
	&.hover .product-thumb-info-touch-hover {
		display: block;
	}
}
@media (max-width: 991px) {
	.shop {
		.actions-continue {
			float: none;
		}
		table.cart {
			th {
				&.product-price {
					display: none;
				}
				&.product-quantity {
					display: none;
				}
			}
			td {
				&.product-price {
					display: none;
				}
				&.product-quantity {
					display: none;
				}
			}
		}
	}
	#header nav.mega-menu .mega-menu-shop {
		a {
			color: #FFF;
			.fa-angle-down {
				display: none !important;
			}
		}
		> ul.dropdown-menu {
			display: none !important;
		}
	}
}
#header nav.mega-menu .mega-menu-shop {
	a {
		color: $color_tundora_approx;
	}
	table {
		width: 100%;
		margin-top: 0;
	}
	.dropdown-menu {
		width: 40%;
		right: 8px;
		//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
		border-radius: 6px 0 6px 6px;
		li table tr td a {
			background-color: transparent !important;
			color: $color_mine_shaft_approx;
			padding: 0;
			margin: 0;
			display: block;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.fa-shopping-cart {
		margin-right: 5px;
	}
	.product-thumbnail {
		width: 120px;
	}
	.product-actions {
		text-align: right;
		width: 80px;
	}
	.actions-continue {
		margin-top: 10px;
		padding-top: 20px;
		border-top: 1px solid #DDD;
		clear: both;
	}
}
.full-width .product-thumb-info .product-thumb-info-image:before {
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 0;
}