/* line 1, ../sass/_navi.scss */
.topnav {
  display: block;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  font-weight: normal;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  background-color: #000000;
  list-style: none;
  line-height: normal !important;
}
/* line 15, ../sass/_navi.scss */
.topnav li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 20, ../sass/_navi.scss */
.topnav li a:link, .topnav li a:visited, .topnav li a:hover {
  display: block;
  margin: 0;
  padding: 15px 20px;
  color: #FFFFFF;
  background-color: #000000;
}
/* line 27, ../sass/_navi.scss */
.topnav li a:hover {
  color: #FFFFFF;
  background-color: #059BD8;
}
/* line 31, ../sass/_navi.scss */
.topnav li last a {
  margin-right: 0;
}
/* line 35, ../sass/_navi.scss */
.topnav li li a:link, .topnav li li a:visited {
  width: 150px;
  float: none;
  margin: 0;
  padding: 7px 10px;
  font-size: 12px;
  font-weight: normal;
  color: #FFFFFF;
  background-color: #000000;
}
/* line 45, ../sass/_navi.scss */
.topnav li li a:hover {
  color: #FFFFFF;
  background-color: #059BD8;
}
/* line 50, ../sass/_navi.scss */
.topnav li ul {
  background: #FFFFFF;
  z-index: 9999;
  position: absolute;
  left: -999em;
  height: auto;
  width: 170px;
  padding: 0px;
  margin: 0px;
}
/* line 62, ../sass/_navi.scss */
.topnav ul ul li a:link, .topnav ul ul li a:visited {
  border: none;
}
/* line 65, ../sass/_navi.scss */
.topnav ul li.active a {
  color: #FFFFFF;
  background-color: #059BD8;
}
/* line 69, ../sass/_navi.scss */
.topnav ul a {
  width: 140px;
}
/* line 70, ../sass/_navi.scss */
.topnav ul ul {
  margin: -32px 0 0 0;
}
/* line 72, ../sass/_navi.scss */
.topnav li:hover ul ul {
  left: -999em;
}
/* line 73, ../sass/_navi.scss */
.topnav li:hover ul, .topnav li li:hover ul {
  left: auto;
}
/* line 74, ../sass/_navi.scss */
.topnav li:hover {
  position: static;
}
/* line 75, ../sass/_navi.scss */
.topnav li.last a {
  margin-right: 0;
}

/* line 1, ../sass/_layout.scss */
.l-constrained, .l-region--highlighted, .l-region--footer {
  width: 95%;
  margin: 0 auto;
  *zoom: 1;
}

/* line 6, ../sass/_layout.scss */
.l-constrained:after, .l-region--highlighted:after, .l-region--footer:after {
  content: "";
  display: table;
  clear: both;
}

/* Content Area */
/* line 13, ../sass/_layout.scss */
.l-highlighted-wrapper {
  padding: 18px 0;
}

/* line 17, ../sass/_layout.scss */
.l-region--help {
  margin-bottom: 18px;
}

/* line 21, ../sass/_layout.scss */
.l-main {
  margin-top: 36px;
  margin-bottom: 36px;
}

/* Sidebars */
/* line 27, ../sass/_layout.scss */
.l-region--sidebar-first,
.l-region--sidebar-second {
  padding: 18px 1em;
}

/* Footer */
/* line 33, ../sass/_layout.scss */
.l-footer-wrapper {
  padding: 18px 0;
}

@media (min-width: 44em) {
  /* line 38, ../sass/_layout.scss */
  .l-constrained, .l-region--highlighted, .l-region--footer {
    width: 90%;
  }

  /* Header */
  /* line 43, ../sass/_layout.scss */
  .l-branding {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }

  /* line 51, ../sass/_layout.scss */
  .l-region--branding, .l-region--navigation, .l-region--header, .l-region--hero, .l-region--highlighted, .l-region--help, #container, #footer, #breadcrumb, #copyright, .messages_info, .tabs {
    position: relative;
    margin: 0 auto 0;
    display: block;
    width: 960px;
  }

  /* Sidebars */
  /* line 59, ../sass/_layout.scss */
  .has-two-sidebars .l-content,
  .has-one-sidebar .l-content {
    width: 65.95745%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }

  /* line 67, ../sass/_layout.scss */
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second,
  .has-one-sidebar .l-region--sidebar-first,
  .has-one-sidebar .l-region--sidebar-second {
    width: 31.91489%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: right;
  }
}
@media (min-width: 70em) {
  /* line 80, ../sass/_layout.scss */
  .l-constrained, .l-region--footer {
    width: 50%;
    float: left;
  }

  /* Sidebars */
  /* line 86, ../sass/_layout.scss */
  .has-one-sidebar .l-content {
    width: 65.95745%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }

  /* line 93, ../sass/_layout.scss */
  .has-one-sidebar .l-region--sidebar-first {
    width: 31.91489%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: none;
  }

  /* line 102, ../sass/_layout.scss */
  .has-two-sidebars .l-content {
    width: 48.93617%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }

  /* line 109, ../sass/_layout.scss */
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 51.06383%;
    clear: none;
    clear: none;
  }

  /* line 118, ../sass/_layout.scss */
  .has-two-sidebars .l-region--sidebar-second {
    width: 23.40426%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 1, ../sass/_forms.scss */
form, fieldset, legend {
  margin: 0;
  padding: 0;
  border: none;
}

/* line 2, ../sass/_forms.scss */
legend {
  display: none;
}

/* line 4, ../sass/_forms.scss */
#header input {
  display: block;
  float: left;
  width: 155px;
  margin: 0 11px 0 0;
  padding: 5px;
  color: #4C4C4C;
  background-color: #FFFFFF;
  border: 1px solid #396B86;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}
/* line 16, ../sass/_forms.scss */
#header input#news_go {
  width: auto;
  height: auto;
  margin: 0;
  padding: 4px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #4D9FC7;
  cursor: pointer;
}

/* line 28, ../sass/_forms.scss */
#topbar input {
  display: block;
  float: left;
  width: 155px;
  margin: 0 5px 0 0;
  padding: 5px;
  color: #B6B6B6;
  background-color: #525252;
  border: 1px solid #343434;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

/* line 40, ../sass/_forms.scss */
#block-search-form .form-submit {
  width: 68px;
  height: 26px;
  margin: 0;
  padding: 4px 0;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #059BD8;
  border-color: #396B86;
  cursor: pointer;
  font-weight: bold;
}

/* line 52, ../sass/_forms.scss */
.form-submit {
  background-color: #4d9fc7;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  height: auto;
  margin-right: 10px;
  padding: 4px;
  text-transform: uppercase;
  width: auto;
  border: 1px none;
}

/* line 65, ../sass/_forms.scss */
#container #respond {
  display: block;
  width: 100%;
}
/* line 67, ../sass/_forms.scss */
#container #respond input {
  width: 170px;
  padding: 2px;
  border: 1px solid #CCCCCC;
  margin: 5px 5px 0 0;
}
/* line 68, ../sass/_forms.scss */
#container #respond textarea {
  width: 98%;
  border: 1px solid #CCCCCC;
  padding: 2px;
  overflow: auto;
}
/* line 69, ../sass/_forms.scss */
#container #respond p {
  margin: 5px 0;
}
/* line 70, ../sass/_forms.scss */
#container #respond #submit, #container #respond #reset {
  margin: 0;
  padding: 5px;
  color: #666666;
  background-color: #F7F7F7;
  border: 1px solid #CCCCCC;
  cursor: pointer;
}

/* line 1, ../sass/_tables.scss */
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  vertical-align: top;
  margin-bottom: 15px;
  border: 1px solid #CCCCCC;
}
/* line 9, ../sass/_tables.scss */
table thead th {
  color: #FFFFFF;
  background-color: #666666;
  border: 1px solid #CCCCCC;
  border-collapse: collapse;
  text-align: center;
  table-layout: auto;
  vertical-align: middle;
  padding: 5px;
  border-collapse: collapse;
}
/* line 21, ../sass/_tables.scss */
table thead tbody td {
  vertical-align: top;
  border-collapse: collapse;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  padding: 5px;
  border-collapse: collapse;
}
/* line 29, ../sass/_tables.scss */
table thead tbody tr.light {
  color: #666666;
  background-color: #F7F7F7;
}
/* line 33, ../sass/_tables.scss */
table thead tbody tr.dark {
  color: #666666;
  background-color: #E8E8E8;
}

/* line 5, ../sass/pro-plan.layout.scss */
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: verdana, Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  background-color: #29313C;
}

/* line 14, ../sass/pro-plan.layout.scss */
img {
  border: 0;
  display: block;
  padding: 0;
  margin: 0;
}

/* line 20, ../sass/pro-plan.layout.scss */
.justify {
  text-align: justify;
}

/* line 23, ../sass/pro-plan.layout.scss */
.bold {
  font-weight: bold;
}

/* line 26, ../sass/pro-plan.layout.scss */
.center {
  text-align: center;
}

/* line 29, ../sass/pro-plan.layout.scss */
.right {
  text-align: right;
}

/* line 32, ../sass/pro-plan.layout.scss */
.nostart {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 35, ../sass/pro-plan.layout.scss */
.clear {
  clear: both;
}

/* line 38, ../sass/pro-plan.layout.scss */
br.clear {
  clear: both;
  margin-top: -15px;
}

/* line 41, ../sass/pro-plan.layout.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 45, ../sass/pro-plan.layout.scss */
.fl_left {
  float: left;
}

/* line 48, ../sass/pro-plan.layout.scss */
.fl_right {
  float: right;
}

/* line 51, ../sass/pro-plan.layout.scss */
.imgl, .imgr {
  border: 1px solid #DFDFDF;
  padding: 5px;
  color: #666666;
  background-color: #FFFFFF;
}

/* line 57, ../sass/pro-plan.layout.scss */
.imgl {
  float: left;
  margin: 0 8px 8px 0;
  clear: left;
}

/* line 62, ../sass/pro-plan.layout.scss */
.imgr {
  float: right;
  margin: 0 0 8px 8px;
  clear: right;
}

/* line 67, ../sass/pro-plan.layout.scss */
#block-superfish-1 {
  float: left;
}
/* line 70, ../sass/pro-plan.layout.scss */
#block-superfish-1 li a.active {
  color: #FFFFFF;
  background-color: #059BD8;
}

/* line 76, ../sass/pro-plan.layout.scss */
.messages {
  margin-top: 5px;
}

/* line 79, ../sass/pro-plan.layout.scss */
.layout-link div {
  text-align: center;
}

/* line 82, ../sass/pro-plan.layout.scss */
.mondrian-region--secondary, .mondrian-region--tertiary-third {
  width: 30% !important;
}

/* line 85, ../sass/pro-plan.layout.scss */
.mondrian-region--main {
  width: 68% !important;
}

/* line 88, ../sass/pro-plan.layout.scss */
.mondrian-region--tertiary-first {
  width: 33% !important;
  margin-left: 35% !important;
}

/* line 92, ../sass/pro-plan.layout.scss */
.mondrian-region--tertiary-second {
  width: 33% !important;
}

/* line 96, ../sass/pro-plan.layout.scss */
.mondrian-region--secondary .pane-node, .mondrian-region--secondary .bg-color {
  display: block;
  padding: 25px;
  background-color: #F9F9F9;
  margin-bottom: 20px;
}
/* line 102, ../sass/pro-plan.layout.scss */
.mondrian-region--secondary .pane-views-panes {
  background-color: #FFF;
  margin-bottom: 20px;
}

/* line 107, ../sass/pro-plan.layout.scss */
.pane-node .pane-title {
  padding: 0px !important;
  border: none !important;
  margin-bottom: 15px !important;
}

/* line 113, ../sass/pro-plan.layout.scss */
.view-frontpage .node, .page-node .node {
  margin-bottom: 20px !important;
}

/* line 117, ../sass/pro-plan.layout.scss */
table {
  border: none;
  border-bottom: 1px dotted #CCC;
}
/* line 121, ../sass/pro-plan.layout.scss */
table tbody td {
  border: none;
}

/* line 126, ../sass/pro-plan.layout.scss */
.tabs {
  margin-top: 6px;
}

/* line 130, ../sass/pro-plan.layout.scss */
.menu .leaf {
  list-style: none;
}

/* line 134, ../sass/pro-plan.layout.scss */
.new {
  background-color: green;
  border-radius: 5px;
  color: white;
  padding: 3px;
  position: relative;
  top: -5px;
}

/* line 142, ../sass/pro-plan.layout.scss */
div.wrapper {
  display: block;
  width: 100%;
  margin: 0;
  text-align: left;
  float: left;
}
/* line 148, ../sass/pro-plan.layout.scss */
div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6 {
  margin: 0 0 20px 0;
  padding: 0 0 8px 0;
  font-size: 20px;
  font-weight: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-bottom: 1px dotted #DDDDDD;
}

/* line 157, ../sass/pro-plan.layout.scss */
.col1 {
  color: #666666;
  background-color: #E3F1F9;
}

/* line 158, ../sass/pro-plan.layout.scss */
.col2 {
  color: #FFFFFF;
  background-color: #000000;
  float: left;
}

/* line 159, ../sass/pro-plan.layout.scss */
.col3, .col4, .col5 {
  color: #666666;
  background-color: #FFFFFF;
}

/* line 160, ../sass/pro-plan.layout.scss */
.col6 {
  color: #999999;
  background-color: #F3F3F3;
}

/* line 161, ../sass/pro-plan.layout.scss */
.col6 a {
  color: #2684B7;
  background-color: #F3F3F3;
}

/* line 162, ../sass/pro-plan.layout.scss */
.col7, .col7 a {
  color: #FFFFFF;
  background-color: #29313C;
}

/* line 163, ../sass/pro-plan.layout.scss */
#header, #topbar, #intro, #services {
  position: relative;
  margin: 0 auto 0;
  display: block;
  width: 100%;
}

/* line 169, ../sass/pro-plan.layout.scss */
#header {
  padding: 30px 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* line 175, ../sass/pro-plan.layout.scss */
#header #logo {
  display: block;
  float: left;
  width: 485px;
}
/* line 179, ../sass/pro-plan.layout.scss */
#header #logo p {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-size: 17px;
}
/* line 185, ../sass/pro-plan.layout.scss */
#header #logo h1 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 36px;
  border: none;
}
/* line 190, ../sass/pro-plan.layout.scss */
#header #logo h1 a {
  color: #3A6C86;
  background-color: #E3F1F9;
}
/* line 196, ../sass/pro-plan.layout.scss */
#header #newsletter {
  float: right;
  padding: 10px 10px 12px 10px;
  color: #000000;
  background-color: #ADD6ED;
}
/* line 201, ../sass/pro-plan.layout.scss */
#header #newsletter p {
  margin: 0 0 8px 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* line 207, ../sass/pro-plan.layout.scss */
#topbar {
  z-index: 1000;
}

/* line 210, ../sass/pro-plan.layout.scss */
#block-search-form {
  display: block;
  float: right;
  width: 242px;
  height: 36px;
  margin: 0;
  padding: 10px 0 0 17px;
  color: #FFFFFF;
  background-color: #000000;
  border-left: 1px dotted #666666;
  overflow: hidden;
}

/* line 222, ../sass/pro-plan.layout.scss */
#intro {
  padding: 30px 0 5px 0;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* line 226, ../sass/pro-plan.layout.scss */
#intro .fl_left {
  display: block;
  float: left;
  width: 515px;
  height: 240px;
  margin: 0;
  padding: 30px;
  color: #FFFFFF;
  background-color: #2684B7;
}
/* line 235, ../sass/pro-plan.layout.scss */
#intro .fl_left h2 {
  font-size: 46px;
  margin: 0 0 15px 0;
  padding: 0;
  border: none;
  color: #FFFFFF;
  background-color: #2684B7;
}
/* line 243, ../sass/pro-plan.layout.scss */
#intro .fl_left p {
  margin: 0;
  padding: 0;
  line-height: 1.6em;
}
/* line 248, ../sass/pro-plan.layout.scss */
#intro .fl_left p.readmore {
  display: block;
  width: 100%;
  margin: 20px 0 0 0;
  padding: 0;
  text-align: right;
  line-height: normal;
}
/* line 255, ../sass/pro-plan.layout.scss */
#intro .fl_left p.readmore a {
  padding: 8px 15px;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #1C5E82;
}
/* line 263, ../sass/pro-plan.layout.scss */
#intro .fl_right {
  float: right;
}

/* line 267, ../sass/pro-plan.layout.scss */
#breadcrumb {
  padding: 5px 0;
  border-bottom: 1px solid #CCCCCC;
}
/* line 270, ../sass/pro-plan.layout.scss */
#breadcrumb a {
  color: #2684B7;
  background-color: #FFFFFF;
}
/* line 274, ../sass/pro-plan.layout.scss */
#breadcrumb ul {
  margin: 0;
  padding: 0;
}
/* line 277, ../sass/pro-plan.layout.scss */
#breadcrumb ul li {
  display: inline;
  margin-right: 10px;
}
/* line 280, ../sass/pro-plan.layout.scss */
#breadcrumb ul li li.current a {
  text-decoration: underline;
}

/* line 285, ../sass/pro-plan.layout.scss */
#container {
  padding: 30px 0;
  line-height: 1.4em;
}
/* line 288, ../sass/pro-plan.layout.scss */
#container a {
  color: #2684B7;
}
/* line 291, ../sass/pro-plan.layout.scss */
#container h1, #container h2, #container h3, #container h4, #container h5, #container h6 {
  padding-bottom: 8px;
  border-bottom: 1px dotted #CCCCCC;
}

/* line 293, ../sass/pro-plan.layout.scss */
#content {
  display: block;
  float: left;
  width: 600px;
}

/* line 298, ../sass/pro-plan.layout.scss */
.comments {
  margin-top: 25px;
}
/* line 300, ../sass/pro-plan.layout.scss */
.comments p {
  position: relative;
  top: -7px;
}
/* line 301, ../sass/pro-plan.layout.scss */
.comments h3 {
  border: none !important;
}

/* line 303, ../sass/pro-plan.layout.scss */
.indented {
  margin-left: 100px !important;
  /* LTR */
}

/* line 306, ../sass/pro-plan.layout.scss */
.comment {
  margin-bottom: 20px;
  display: table;
  vertical-align: top;
}
/* line 310, ../sass/pro-plan.layout.scss */
.comment h2.title {
  margin-bottom: 1em;
}
/* line 312, ../sass/pro-plan.layout.scss */
.comment div.user-picture img {
  margin-left: 0;
}
/* line 314, ../sass/pro-plan.layout.scss */
.comment .attribution {
  display: table-cell;
  padding: 0 30px 0 0;
  /* LTR */
  vertical-align: top;
  overflow: hidden;
}
/* line 319, ../sass/pro-plan.layout.scss */
.comment .attribution img {
  margin: 0;
  border: 1px solid #d3d7d9;
}
/* line 320, ../sass/pro-plan.layout.scss */
.comment .attribution .username {
  white-space: nowrap;
}
/* line 323, ../sass/pro-plan.layout.scss */
.comment .submitted p {
  font-size: 1.071em;
  line-height: 1.2;
}
/* line 327, ../sass/pro-plan.layout.scss */
.comment .submitted .comment-time {
  font-size: 0.786em;
  color: #68696b;
}
/* line 331, ../sass/pro-plan.layout.scss */
.comment .submitted .comment-permalink {
  font-size: 0.786em;
  text-transform: lowercase;
}
/* line 336, ../sass/pro-plan.layout.scss */
.comment .content {
  font-size: 0.929em;
  line-height: 1.6;
}
/* line 340, ../sass/pro-plan.layout.scss */
.comment .comment-arrow {
  background: url(../images/comment-arrow.gif) no-repeat 0 center transparent;
  /* LTR */
  height: 40px;
  margin-left: -46px;
  /* LTR */
  margin-top: 10px;
  position: absolute;
  width: 20px;
}
/* line 348, ../sass/pro-plan.layout.scss */
.comment .comment-text {
  padding: 30px 25px;
  border: 1px solid #d3d7d9;
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 100%;
  border-radius: 10px;
}
/* line 357, ../sass/pro-plan.layout.scss */
.comment .indented {
  margin-left: 100px !important;
  /* LTR */
}
/* line 360, ../sass/pro-plan.layout.scss */
.comment ul.links {
  padding: 0 0 0.25em 0;
}
/* line 362, ../sass/pro-plan.layout.scss */
.comment ul.links li {
  padding: 0 0.5em 0 0;
  /* LTR */
}

/* line 367, ../sass/pro-plan.layout.scss */
.comment-unpublished {
  margin-right: 5px;
  /* LTR */
  padding: 5px 2px 5px 5px;
  /* LTR */
}
/* line 371, ../sass/pro-plan.layout.scss */
.comment-unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}

/* line 377, ../sass/pro-plan.layout.scss */
#column {
  display: block;
  float: right;
  width: 300px;
}
/* line 381, ../sass/pro-plan.layout.scss */
#column .subnav {
  display: block;
  width: 250px;
  padding: 25px;
  background-color: #F9F9F9;
  margin-bottom: 30px;
}
/* line 383, ../sass/pro-plan.layout.scss */
#column .subnav h2 {
  margin: 0 0 20px 0;
  padding: 0 0 14px 0;
  font-size: 20px;
  font-weight: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #666666;
  background-color: #F9F9F9;
  line-height: normal;
  border-bottom: 1px dotted #666666;
}
/* line 394, ../sass/pro-plan.layout.scss */
#column .subnav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 399, ../sass/pro-plan.layout.scss */
#column .subnav ul ul, #column .subnav ul ul ul, #column .subnav ul ul ul ul, #column .subnav ul ul ul ul ul {
  border-top: none;
  padding-top: 0;
}
/* line 400, ../sass/pro-plan.layout.scss */
#column .subnav li {
  margin: 0 0 3px 0;
  padding: 0;
}
/* line 404, ../sass/pro-plan.layout.scss */
#column .subnav a {
  display: block;
  margin: 0;
  padding: 5px 10px 5px 20px;
  color: #777777;
  background: url("../images/blue_file.gif") no-repeat 10px center #F9F9F9;
  text-decoration: none;
  border-bottom: 1px dotted #666666;
}
/* line 413, ../sass/pro-plan.layout.scss */
#column .subnav a:hover {
  color: #2684B7;
  background-color: #F9F9F9;
}
/* line 414, ../sass/pro-plan.layout.scss */
#column .subnav ul ul a, #column .subnav ul ul ul a, #column .subnav ul ul ul ul a, #column .subnav ul ul ul ul ul a {
  background: url("../images/black_file.gif") no-repeat #F9F9F9;
}
/* line 415, ../sass/pro-plan.layout.scss */
#column .subnav ul ul a {
  padding-left: 40px;
  background-position: 30px center;
}
/* line 416, ../sass/pro-plan.layout.scss */
#column .subnav ul ul ul a {
  padding-left: 50px;
  background-position: 40px center;
}
/* line 417, ../sass/pro-plan.layout.scss */
#column .subnav ul ul ul ul a {
  padding-left: 60px;
  background-position: 50px center;
}
/* line 418, ../sass/pro-plan.layout.scss */
#column .subnav ul ul ul ul ul a {
  padding-left: 70px;
  background-position: 60px center;
}
/* line 420, ../sass/pro-plan.layout.scss */
#column div.imgholder {
  display: block;
  width: 290px;
  margin: 0 0 10px 0;
  padding: 4px;
  color: #666666;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
}
/* line 429, ../sass/pro-plan.layout.scss */
#column #featured {
  display: block;
  margin-bottom: 20px;
}
/* line 432, ../sass/pro-plan.layout.scss */
#column #featured a {
  color: #2684B7;
  background-color: #F9F9F9;
}
/* line 436, ../sass/pro-plan.layout.scss */
#column #featured ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 437, ../sass/pro-plan.layout.scss */
#column #featured h2, #column #featured p {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 438, ../sass/pro-plan.layout.scss */
#column #featured li {
  display: block;
  width: 250px;
  margin: 0;
  padding: 20px 25px;
  color: #666666;
  background-color: #F9F9F9;
}
/* line 445, ../sass/pro-plan.layout.scss */
#column #featured li p.imgholder {
  display: block;
  width: 240px;
  height: 90px;
  margin: 20px 0 15px 0;
  padding: 4px;
  border: 1px solid #CCCCCC;
}
/* line 453, ../sass/pro-plan.layout.scss */
#column #featured li h2 {
  margin: 0;
  padding: 0 0 14px 0;
  font-weight: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: normal;
  border-bottom: 1px dashed #666666;
}
/* line 462, ../sass/pro-plan.layout.scss */
#column #featured p.readmore {
  display: block;
  width: 100%;
  margin-top: 15px;
  font-weight: bold;
  text-align: right;
  line-height: normal;
}

/* line 472, ../sass/pro-plan.layout.scss */
.holder {
  display: block;
  margin-bottom: 20px;
}
/* line 475, ../sass/pro-plan.layout.scss */
.holder .margin-left {
  margin-left: 10px;
}
/* line 476, ../sass/pro-plan.layout.scss */
.holder h2.title {
  display: block;
  width: 100%;
  height: 65px;
  margin: 0;
  padding: 15px 0 0 0;
  font-size: 20px;
  line-height: normal;
  border-bottom: 1px dashed #666666;
}
/* line 485, ../sass/pro-plan.layout.scss */
.holder h2.title img {
  float: left;
  margin: -15px 8px 0 0;
  padding: 5px;
  border: 1px solid #666666;
}
/* line 492, ../sass/pro-plan.layout.scss */
.holder .views-more-link {
  display: block;
  width: 100%;
  font-weight: bold;
  text-align: right;
  line-height: normal;
}
/* line 499, ../sass/pro-plan.layout.scss */
.holder #latestnews {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 505, ../sass/pro-plan.layout.scss */
.holder #latestnews p {
  margin: 0;
  padding: 0;
  line-height: normal;
}
/* line 510, ../sass/pro-plan.layout.scss */
.holder #latestnews .imgl {
  margin: 0 10px 10px 0;
  padding: 4px;
}
/* line 514, ../sass/pro-plan.layout.scss */
.holder #latestnews li {
  display: block;
  margin: 0 0 20px 0;
  padding: 0 0 15px 0;
  border-bottom: 1px dotted #DDDDDD;
}
/* line 519, ../sass/pro-plan.layout.scss */
.holder #latestnews li .last {
  margin-bottom: 0;
}

/* line 525, ../sass/pro-plan.layout.scss */
div.submitted {
  font-weight: bold;
  position: relative;
  top: -14px;
  font-size: 11px;
}

/* line 531, ../sass/pro-plan.layout.scss */
#comments div.submitted {
  font-weight: normal !important;
  top: 0px !important;
}

/* line 535, ../sass/pro-plan.layout.scss */
.file * {
  display: inline;
}

/* line 538, ../sass/pro-plan.layout.scss */
.node-readmore a {
  display: block;
  width: 100%;
  font-weight: bold;
  text-align: right;
  line-height: normal;
}

/* line 545, ../sass/pro-plan.layout.scss */
#footer {
  padding: 30px 0;
}
/* line 547, ../sass/pro-plan.layout.scss */
#footer h2 {
  margin-bottom: 10px;
  border-bottom: 1px dotted #999999;
}
/* line 551, ../sass/pro-plan.layout.scss */
#footer p, #footer ul, #footer a {
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style: none;
  line-height: normal;
}
/* line 558, ../sass/pro-plan.layout.scss */
#footer .footbox {
  display: block;
  float: left;
  width: 25%;
  padding: 0;
  margin-bottom: 20px;
}
/* line 565, ../sass/pro-plan.layout.scss */
#footer li {
  margin-bottom: 3px;
  line-height: 1.6em;
}
/* line 569, ../sass/pro-plan.layout.scss */
#footer .last {
  margin: 0;
}

/* line 573, ../sass/pro-plan.layout.scss */
#login {
  display: block;
  float: left;
  width: 300px;
}

/* line 578, ../sass/pro-plan.layout.scss */
#copyright {
  padding: 20px 0;
}
/* line 580, ../sass/pro-plan.layout.scss */
#copyright p {
  margin: 0;
  padding: 0;
}
